@media print {

	body, 
	div, 
	pre, 
	form, 
	fieldset, 
	p, 
	blockquote, 
	th, 
	td,
	a {
		font-size: $baseFontSize * .75;
	}


	body {
		background: $white;
	}

	.non-csscv {
		border: none;
		& .resume__heading {
			line-height: 1.25;
		}
	}

	.do-not-print {
		display: none !important;
	}

	.skill-list li {
		float: left;
		width: 50%;
	}
}