// bower:scss
// endbower

@import "vars";
@import "base";
@import "grid";
@import "type";
@import "utility";
@import "icon-font";
@import "buttons";

@import "header";
@import "csscv";



.browserupgrade {
  background: #ccc;
  color: #000;
}

.page {
	@media all and (min-width: $small-grid-breakpoint) {
		padding: 0 $baseLineHeight;
	}
}

.page__container {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

.page__content {
	background: $basePageColor;
	margin: $baseLineHeight auto;
	border: 1px solid $baseBorderColor;
}

.page__heading {
	margin-bottom: $baseLineHeight;
	color: $primary-brand;
}

.page__subheading {
	margin-bottom: $baseLineHeight / 2;
	border-bottom: 1px dotted $baseBorderColor;
}

.rounded {
	width: 100%;
	max-width: 250px;
	border-radius: 50%;
  	border: 1px solid #ddd;
  	padding: $baseLineHeight / 3;
  	margin-bottom: $baseLineHeight;
}

.link-list {
	border-left: $baseFontSize/2 solid $primary-brand;
}

.link-list__item {
	border-bottom: 1px dotted $baseBorderColor;
	padding: $baseLineHeight/2;
	display: block;
	position: relative;
	overflow: hidden;
	&:hover {
		background: $light-grey;
		text-decoration: none;
	}
}

.link-list__icon {
	padding-left: $baseLineHeight / 3;

}

.link-list__item:hover .link-list__icon,
.link-list__item:focus .link-list__icon {
	transition: all .1s linear;
	font-size: $baseFontSize * 3;
	display: inline-block;
	position: absolute;
  	left: 8%;
  	top: -8%;
	transform: rotate(-8deg);
}

.radio-select {
	text-decoration: none;
	background: $light-grey;
	border: 1px solid $baseBorderColor;
	display: inline-block;
	width: 50%;
	&:focus,
	&:active,
	&:hover,
	&--active {
		text-decoration: none;
		outline: none;
		box-shadow: inset 0 0 $baseLineHeight/2 rgba($primary-brand,.25);
		color: $secondary-brand;
	}
}

@media all and (min-width: $xl-grid-breakpoint) {
	body, 
	div, 
	pre, 
	form, 
	fieldset, 
	p, 
	blockquote, 
	th, 
	td {
		font-size: $baseFontSize * 1.25;
	}

	.page__container {
		max-width: $xl-grid-breakpoint - $baseLineHeight*2;
	}
}

@import "print";