<aside class="align-center" role="complimentary">
	<img class="rounded" src="images/profile-photo.jpg" alt="Tony Mamo Headshot">
	<ul class="unstyled link-list align-right">
		
		<li><a class="link-list__item" href="http://www.linkedin.com/in/anthonymamo">LinkedIn <span class="icon icon-linkedin link-list__icon"></span></a></li>
		<li><a class="link-list__item" href="mailto:tony@tonymamo.com?subject=Contact%20from%20website">Email <span class="icon icon-envelop link-list__icon"></span></a></li>
		<li><a class="link-list__item" href="http://github.com/tonymamo">Github <span class="icon icon-github link-list__icon"></span></a></li>
		<li><a class="link-list__item" href="http://instagram.com/tonymamo">Instagram <span class="icon icon-instagram link-list__icon"></span></a></li>
		<li><a class="link-list__item" href="https://twitter.com/tonymamo">Twitter <span class="icon icon-twitter link-list__icon"></span></a></li>
		
	</ul>
</aside>