<header class="header" role="banner">
	<div class="page__container base-padding">
		<a ui-sref="home" class="header__logo align-center beta">
			<span class="logomark first-initial">T</span><span class="assistText">ony</span> 
			<span class="logomark last-initial">M</span><span class="assistText">amo</span></a>
		<nav class="header__navigation float-right" role="navigation">
			<h1 class="assistText">Main Navigation</h1>
			<ul class="unstyled horizontal-list">
				<li>
					<a class="header__navigation-item half-padding" ui-sref="home">
						<span class="icon icon-home"></span>
						Home
					</a>
				</li>
				<li>
					<a class="header__navigation-item half-padding" ui-sref="about">
						<span class="icon icon-user"></span>
						About
					</a>
				</li>
				<li>
					<a class="header__navigation-item half-padding" ui-sref="resume">
						<span class="icon icon-profile"></span>
						Résumé
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
    
