<header class="header align-center" role="banner">
	<div class="page__container base-padding">
		<a ui-sref="home" class="header__logo beta">
			<span class="logomark first-initial">T</span><span class="assistText">ony</span> 
			<span class="logomark last-initial">M</span><span class="assistText">amo</span></a>
		<nav class="header__navigation" role="navigation" ng-controller="navCtrl" >
			<h1 class="assistText">Main Navigation</h1>
			<ul class="unstyled horizontal-list">
    			<li ng-repeat="item in items">
    				<a href="#{{item.path}}" class="header__navigation-item half-padding" ng-class="{ 'header__navigation-item--active': isActive(item)}">
    					<span class="icon icon-{{item.icon}}"></span>
    					{{item.title}}
    				</a>
    			</li>
  			</ul>
		</nav>
	</div>
</header>
    
