<div class="grid">
	<article class="grid__item-8" role="article">
		<h1 class="giga page__heading">Hi there, I'm Tony Mamo.</h1>
		<p class="gamma">I am a web developer and designer who specializes in architecting scalable, maintainable front-end systems for large teams.</p>

		<p>Currently located in flourishing Detroit, MI, I am constantly looking for ways to write better quality code and documentation that teams can leverage to create cutting-edge web applications in a fraction of the time, all while keeping semantics, accessibility, and the varied device landscape in mind.</p>
		
		<h2 class="page__subheading">Summary</h2>
		<p>Now with over eight years of professional experience, I am currently managing a team of developers as a Technical Lead at Optum Technology, part of UnitedHealth Group. Having started off my career freelancing after being self-taught in design and development principals, I have worked with new startups and small businesses, established mid-sized companies, as well as large corporations in various industries. Non-technical expertise includes leadership, interviewing, Agile/Scrum methodology, resource allocation, project estimation, and timely deliveries of product.</p>

		<blockquote>
			<p class="small">Tony is not only our resident guru, he has set the bar high for all of UHG with the cutting edge client-side design and coding.  I’ve reviewed many of his most innovative implementations, and he never ceases to amaze me with his creativity and attentiveness to usability and lean, scalable coding practice, most of which I’d put up against leaders in the industry at large.</p>
			<footer>- 
				<cite>David Melkonian, Former Manager at UnitedHealth Group</cite>
			</footer>
		</blockquote>

		<h2 class="page__subheading">Major Accomplishments</h2>
		<p>stuff</p>

		<figure class="align-center base-padding small">
			<img src="images/tonymamo.jpeg" alt="Tony Mamo at BDConf surrounded by a myriad of devices, representing the varied device landscape and reason for Responsive Web Design">
			<figcaption>At <a href="http://bdconf.com">Breaking Development</a> (BDConf) in Nashville, 2013. <a href="https://www.flickr.com/photos/lukew/10460257453/in/album-72157636814608894/">Photo</a> by <a href="http://www.lukew.com/">Luke Wroblewski</a>.</figcaption>
		</figure>

		<h2 class="page__subheading">Skills &amp; Competencies</h2>
		<p>Funny story: I got my start in the web industry trying to make my band's Myspace page cool.</p>
		<p>I've always had a keen eye for design and aesthetics, and once I taught myself Illustrator and Photoshop, then next progression was figuring out how to get it on to the web. After breaking down the pieces, I had my "ah-ha" moment, in which I had realized that I just learned the fundamentals of web development.</p>
		<p>Fast forward almost a decade&mdash;the web has made a lot of progress. I, too, have come a long way in those years. Here's a few things I know a thing or two about:</p> 
		<ul class="columns">
			<li><span class="icon icon-html5"></span> HTML5</li>
			<li><span class="icon icon-css3"></span> CSS3</li>
			<li>Javascript (jQuery &amp; AngularJS)</li>
			<li>Adobe Experience Manager (aka CQ5)</li>
			<li>Responsive Web Design</li>
			<li>Version Control (Git &amp; SVN)</li>
			<li>Accessibility</li>
			<li>Object Oriented CSS Abstractions/Patterns</li>
			<li>Semantic Markup</li>
			<li>Documentation Writing</li>
			<li>User Experience Design</li>
			<li>User Interface Design</li>
			<li>Typography</li>
			<li>Adobe Illustrator &amp; Photoshop</li>
			<li>CSS Preprocessors</li>
			<li>Task Automation</li>
			<li>Progressive Enhancement</li>
			<li>Graceful Degradation</li>
			<li>Cross-Browser/Device Testing</li>
			<li>Project Scaffolding</li>
			<li>Dependency Management</li>
			<li>Performance</li>
			<li>Continuous Integration</li>
			<li>Agile/Scrum Methodology</li>
			<li>Interviewing &amp; Resource Management</li>
		</ul>

		<p>Whoa! You actually read all of that? Well, if you want to learn more, feel free to learn more <a ui-sref="about">about me</a> or check out my <a ui-sref="resume">interactive résumé</a> for an in-depth look. Thanks for stopping by!</p>
	</article>
	<aside class="grid__item-3 grid__offset-1 align-center" role="complimentary">
		<img class="rounded" src="images/profile-photo.jpg" alt="Tony Mamo Headshot">
		<ul class="unstyled link-list align-right">
			
			<li><a class="link-list__item" href="http://www.linkedin.com/in/anthonymamo">LinkedIn <span class="icon icon-linkedin link-list__icon"></span></a></li>
			<li><a class="link-list__item" href="mailto:tony@tonymamo.com?subject=Contact%20from%20website">Email <span class="icon icon-envelop link-list__icon"></span></a></li>
			<li><a class="link-list__item" href="http://github.com/tonymamo">Github <span class="icon icon-github link-list__icon"></span></a></li>
			<li><a class="link-list__item" href="http://instagram.com/tonymamo">Instagram <span class="icon icon-instagram link-list__icon"></span></a></li>
			<li><a class="link-list__item" href="https://twitter.com/tonymamo">Twitter <span class="icon icon-twitter link-list__icon"></span></a></li>
			
		</ul>
	</aside>
</div>
