<div class="grid">
	<article class="grid__item-8" role="article">
		<h1 class="giga page__heading">Hi there, I'm Tony Mamo.</h1>
		<p class="gamma">I am a web developer and designer who specializes in architecting scalable, maintainable front-end systems for large teams.</p>

		<p>Currently located in flourishing Detroit, MI, I am constantly looking for ways to write better quality code and documentation that teams can leverage to create cutting-edge web applications in a fraction of the time, all while keeping semantics, accessibility, and the varied device landscape in mind.</p>
		
		<p><a ui-sref="about" class="button button--secondary">Read More</a></p>

		<h2 class="page__subheading">Contact</h2>
		<p>Sorry, I dont do any freelance work, and I am not actively looking for any new oppportunities. If you want to sync up on <a href="//www.linkedin.com/in/anthonymamo">LinkedIn</a> or touch base through <a href="mailto:tony@tonymamo.com?subject=Contact%20from%20website">email</a>, that's cool though.</p>

		<dl>
			<dt><span class="strong">Twitter:</span> <a href="//twitter.com/tonymamo">@tonymamo</a></dt>
			<dd>Hit me up on Twitter for quick informal conversations!</dd>
			<dt><span class="strong">Email:</span> <a href="mailto:tony@tonymamo.com?subject=Contact%20from%20website">tony@tonymamo.com</a></dt>
			<dd>For anything longer, email is best.</dd>
		</dl>
	
	</article>
	<div ng-include="'partials/aside.html'" class="grid__item-3 grid__offset-1"></div>
</div>
