<div class="grid">
	<article class="grid__item-8" role="article">
		<h1 class="giga page__heading">Hi there, I'm Tony Mamo.</h1>
		<p class="gamma">I am a web developer and designer who specializes in architecting scalable, maintainable front-end systems for large teams.</p>

		<p>Currently located in flourishing Detroit, MI, I am constantly looking for ways to write better quality code and documentation that teams can leverage to create cutting-edge web applications in a fraction of the time, all while keeping semantics, accessibility, and the varied device landscape in mind.</p>
		
		<p><a ui-sref="about" class="button button--secondary">Read More</a></p>

		<h2>Colophon</h2>
		<p>This site leverages many awesome tools and services that have been built by other developers. Open source libraries and utilities are one of the best things about the web industry in my opinion; it's how we've gotten so far in such a short time.</p>
		<p>I started this website by creating a repository on <a href="">Github</a> for source control, and then scaffolded out the project using <a href="">Yeoman</a>. That gave me an initial set up including <a href="">Node</a> and <a href="">Bower</a> components, to manage dependences like <a href="">Angular</a>, <a href="">Gulp</a>, and <a href="">Autoprefixer</a>, along with a slew of other handy utilities.</p>
		<p>Then, I started out with my own custom framework of Sass partials, which allow me to quickly start building out pieces of the site. This framework includes variables, utilities, resets, and base styling for many elements, allowing me to quickly skin a site and write new, custom styles.</p>
		<p>I'm a big fan of semantics, performance, and maintainability, which is why I adhere to the principles of Object Oriented patterns in CSS (<abbr title="Object Oriented Cascading Style Sheets">OOCSS</abbr>), as well as a <abbr title="Block, Element, Modifier">BEM</abbr> naming methodology. This allows me to keep specificity in my CSS classes all on the same level, so I don't go down a path of needing <code>!important</code> statements or overly-specified class names or <code>#id</code>'s&mdash;or worse, inline styles&mdash;in my code. This is hugely important for creating scalable, maintainable code, especially when working with large teams.</p>
		<p>The fonts are Freight Micro Pro and Freight Sans Pro, served via <a href="">Typekit</a>. The icons are a custom set created using <a href="">Icomoon</a>, so that I can keep a light footprint and only use the icons I need instead of downloading an entire font.</p>
		
	</article>
	<div ng-include="'partials/aside.html'" class="grid__item-3 grid__offset-1"></div>
</div>
